@use "@/styles/variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-stack;
}

body {
  background-color: $background-color;
  color: $light-text;
}

.home-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem 1rem;
  background-color: $background-color;
  min-height: 65vh;

  .home-header {
    text-align: center;
    margin-bottom: 2rem;

    h1 {
      font-size: 2.5rem;
      font-weight: bold;
      margin-bottom: 1rem;
      color: $navbar-footer-bg;
    }

    p {
      font-size: 1.125rem;
      color: $dark-text;
    }
  }

  .message-swiper {
    width: 100%;
    max-width: 40rem;

    .carousel-item {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 20px;

      .message-card {
        background-color: $container-color;
        border-radius: 12px;
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
        padding: 1.5rem;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        max-width: 30rem;
        text-align: center;

        &:hover {
          transform: scale(1.05);
          box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
        }

        .card-header {
          margin-bottom: 1rem;

          h2 {
            font-size: 1.5rem;
            font-weight: bold;
            color: $danger-color;
          }
        }

        .card-content {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0.5rem;

          .mail-icon {
            font-size: 2rem;
            color: $primary-color;
          }

          .card-text {
            text-align: center;

            p {
              margin: 0;
              color: $dark-text;

              &:first-child {
                font-size: 1rem;
                margin-bottom: 0.5rem;
              }

              &.card-received {
                font-size: 0.875rem;
                color: $dark-text;
                opacity: 0.7;
              }
            }
          }
        }
      }
    }
  }
}
