
.sign-in-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f4f7fc;
  padding: 20px;
}

.sign-in-message {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 20px;
}

button {
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s, transform 0.3s;
  margin-top: 10px;

  
  background-color: #007bff;
  color: white;

  &:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }

  &.sign-out-button {
    background-color: #dc3545;

    &:hover {
      background-color: #c82333;
    }
  }
}

@media (max-width: 600px) {
  .sign-in-container {
    padding: 10px;
  }

  .sign-in-message {
    font-size: 1rem;
  }

  button {
    padding: 10px 20px;
    font-size: 0.9rem;
  }
}
