$primary-color: #1a73e8; 
$hover-color: #5bbbff;
$secondary-color: #f1f3f4; 
$background-color: #78B3CE; 
$dark-text: #333333; 
$light-text: #777777; 
$border-color: #e0e0e0; 
$danger-color: #e53e3e; 
$success-color: #48bb78; 
$font-stack: "Helvetica Neue", Arial, sans-serif; 
$white-text: white; 
$container-color : #C5D3E8;
$navbar-footer-bg : #2A3663;
$input-box-bg: #C9E6F0;
