@import "@/styles/variables.scss";

$muted-text : grey;
$white-color : white;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.message-card {
  margin-top: 1rem;
  background-color: $container-color;
  color: $dark-text;
  border: 1px solid $border-color;
  border-radius: 0.5rem;
  padding: 1rem;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    .card-title {
      font-size: 1.2rem;
      font-weight: 600;
      color: $dark-text;
    }

    .delete-button {
      background-color: $danger-color;
      color: $white-color;
      border: none;
      border-radius: 8px;
      cursor: pointer;

      &:hover {
        background-color: darken($danger-color, 10%);
      }
    }
  }

  .card-content {
    font-size: 1rem;
    color: $light-text;
    margin-bottom: 1rem;
  }

}
